.leaflet-container {
    width: 100%;
    height: 100%;
    background: #18181b;
}

.leaflet-control-container .leaflet-control {
    background-color: rgba(31, 41, 55, 0.9) !important;
    border: 1px solid rgba(75, 85, 99, 0.5) !important;
    backdrop-filter: blur(8px);
    color: white !important;
}

.leaflet-control-container .leaflet-control a {
    color: white !important;
}

.leaflet-popup-content-wrapper {
    background: #1f2937 !important;
    color: white !important;
    border-radius: 1rem !important;
    border: 1px solid rgba(75, 85, 99, 0.5);
}

.leaflet-popup-tip {
    background: #1f2937 !important;
    border: 1px solid rgba(75, 85, 99, 0.5);
}